extends layout

block content
  script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=true')
  div(class="container" id="container1" style="display:none;margin-top:20px")
    div(class="col-lg-4")
    div(class="col-lg-4")
        div(class="form-group" id="inscription")
          input(type="text" class="form-control" id="nom" placeholder="nom")
          br
          input(type="text" class="form-control" id="prenom" placeholder="prenom")
          br
          input(type="text" class="form-control" id="login" placeholder="login")
          br
          input(type="password" class="form-control" id="password" placeholder="password")
          br
          input(type="text" class="form-control" id="email" placeholder="email")
          br
          button(type="submit" class="btn btn-default" id="submit_inscription" style="width:100%;") Inscription
          br
          br
          input(type="text" class="form-control" id="email_forgot" placeholder="Votre email du compte")
          br
          button(type="submit" class="btn btn-default" id="forgot_password" style="width:100%;") Mot de passe oublié
          br
          div(class="alert alert-success" role="alert" id="inscription_ok" style="display:none;margin-top:20px;")
          div(class="alert alert-danger" role="alert" id="message_erreur" style="display:none;margin-top:20px;")
    div(class="col-lg-4")
  div(class="row" id="container2" style="height:60%;min-height:400px")
    div(class="col-lg-12" style="height:100%;")
      div(id="map_canvas")
      div(class="col-lg-3 col-sm-1 col-md-2")
      div(class="col-lg-6 col-sm-10 col-md-8" id="recherche_block")
        div(class="form-group" id="recherche")
          br
          div(style="color:white;" class="col-lg-6")
            span Filtrer par tranche d'âge :
            br
            b(style="margin-right:15px") 18
            input#ex2.span2(type='text', value='', data-slider-min='18', data-slider-max='99', data-slider-step='1', data-slider-value='[20,30]')
            b(style="margin-left:15px") 99
          div(style="color:white;margin-bottom:20px;" class="col-lg-6")
            span Filtrer par populartité :
            br
            b(style="margin-right:15px") 0
            input#ex3.span2(type='text', value='', data-slider-min='0', data-slider-max='10000', data-slider-step='100', data-slider-value='[0,1000]')
            b(style="margin-left:5px") 10000
          br
          select(class="form-control" id="distance")
            option(value='') -- Choisissez une distance maximum --
            - var n = 5
            while n < 100
              option(value=n) #{n} km
              - n = n + 5
            option(value="100+") 100+ km
          br
          if tags
            label Tag a rechercher :
            div(style="width:100%;min-height:90px;height:auto;border-radius:5px;margin-bottom:20px;background-color:white;color:black" id="tag_dispo")
              each val in tags
                - var i = 0;
                if i == 0
                  div(class="tag add_tag") #{val}
                    div(class="plus") +
          label Tag rechercher :
          div(style="width:100%;min-height:90px;height:auto;border-radius:5px;margin-bottom:20px;background-color:white;color:black" id="all_tag")
          button(type="submit" class="btn btn-default" id="submit_recherche" style="width:100%;") Relancer la recherche

block scripts
  script(type="text/javascript").
    $("#tag_dispo").on('click', '.add_tag', function () {
      var tag = $(this).text();
      tag = tag.substring(0, tag.length - 1);
      $(this).remove();
      var all_tag = $("#all_tag").html();
      all_tag += '<div class="tag suppr_tag">' + tag + '<div class="cross">x</div></div>';
      $("#all_tag").html(all_tag);
    });

    $("#all_tag").on('click', '.suppr_tag', function () {
      var suppr_tag = $(this).text();
      suppr_tag = suppr_tag.substring(0, suppr_tag.length - 1);
      $(this).remove();
      var tag_dispo = $("#tag_dispo").html();
      tag_dispo += '<div class="tag add_tag">' + suppr_tag + '<div class="plus">+</div></div>';
      $("#tag_dispo").html(tag_dispo);
    });

    var all_overlay = [];
    var position_save;

    $("#ex2").slider({});
    $("#ex3").slider({});
    function CustomMarker(latlng, map, args, img, text, login, sexe) {
      this.latlng = latlng;
      this.args = args;
      this.img = img;
      this.text = text;
      this.login = login;
      this.sexe = sexe;
      this.setMap(map);
    }

    CustomMarker.prototype = new google.maps.OverlayView();

    CustomMarker.prototype.draw = function () {

      var self = this;

      var div = this.div;

      if (!div) {

        div = this.div = document.createElement('div');
        infowindow = document.createElement('div');
        div.className = 'marker';

        div.style.position = 'absolute';
        div.style.cursor = 'pointer';
        div.style.width = '100px';
        div.style.height = '100px';
        div.style.background = 'white';
        if (this.sexe == "H")
          div.style.border = '2px solid #5048c7';
        else if (this.sexe == "F")
          div.style.border = '2px solid #ef29d6';
        else
          div.style.border = '2px solid #8a09ec';
        div.innerHTML = "<img src='" + this.img + "' width='96' height='96' alt='photo de profil'>";

        if (typeof(self.args.marker_id) !== 'undefined') {
          div.dataset.marker_id = self.args.marker_id;
        }

        google.maps.event.addDomListener(div, "mouseover", function (event) {
          infowindow.style.display = '';
          infowindow.className = 'infowindow';
          infowindow.style.position = 'absolute';
          infowindow.style.width = 'auto';
          infowindow.style.minWidth = '200px';
          infowindow.style.maxWidth = '300px';
          infowindow.style.height = 'auto';
          infowindow.style.padding = '10px';
          infowindow.style.background = 'white';
          infowindow.innerHTML = self.text;
          infowindow.style.color = 'black';
          var point = self.getProjection().fromLatLngToDivPixel(self.latlng);

          if (point) {
            infowindow.style.left = (point.x - (-50)) + 'px';
            infowindow.style.top = (point.y - 100) + 'px';
          }
        });

        google.maps.event.addDomListener(div, "click", function (event) {
          document.location.href = 'http://localhost:3000/' + self.login;
        });

        google.maps.event.addDomListener(div, "mouseout", function (event) {
          infowindow.style.display = 'none';
        });

        var panes = this.getPanes();
        panes.overlayImage.appendChild(div);
        panes.overlayImage.appendChild(infowindow);
      }

      var point = this.getProjection().fromLatLngToDivPixel(this.latlng);

      if (point) {
        div.style.left = (point.x - 50) + 'px';
        div.style.top = (point.y - 100) + 'px';
      }
    };

    CustomMarker.prototype.remove = function () {
      if (this.div) {
        this.div.parentNode.removeChild(this.div);
        this.div = null;
      }
    };

    CustomMarker.prototype.getPosition = function () {
      return this.latlng;
    };

    function initialize() {
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        zoom: 13,
        center: new google.maps.LatLng(48.858565, 2.347198),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    }

    if (navigator.geolocation)
      var watchId = navigator.geolocation.watchPosition(successCallback,
              null,
              {enableHighAccuracy: true});
    else
      successCallback();

    function successCallback(position) {
      position_save = position;
      // permet de se place là ou on se trouve
      var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map.panTo(myLatlng);
      $.ajax({
        method: "POST",
        url: "save_position",
        data: {latitude: position.coords.latitude, longitude: position.coords.longitude}
      })
        .done(function (position){
            position_save.coords.latitude = position.latitude;
            position_save.coords.longitude = position.longitude;
            get_data(position_save);
        });
      }

    function date_today() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();

      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = yyyy + '/' + mm + '/' + dd;
      return today;
    }

    function dateDiff(date1, date2) {
      var year = date2.substr(0, 4) - date1.substr(0, 4);
      var month = date2.substr(5, 2) - date1.substr(5, 2);
      if (month < 0)
        year--;
      else if (month == 0) {
        var day = date2.substr(8, 2) - date1.substr(8, 2);
        if (day < 0)
          year--;
        else if (day == 0)
          console.log("C'est votre anniversaire !"); // faire quelque chose de spéciale dans ce cas.
      }
      return year;
    }

    function ConvertDistance(d) {
      var result;
      d = d / 1000;
      result = roundDecimal(d, 2);
      return result;
    }

    function distance_with2point(position_a_longitude, position_a_latitude, position_b_longitude, position_b_latitude) {
      var distance_m = roundDecimal(distance(degree_to_radians(position_a_longitude), degree_to_radians(position_b_longitude), degree_to_radians(position_a_latitude), degree_to_radians(position_b_latitude)));
      return distance_m;
    }

    function degree_to_radians(degrees) {
      return degrees * Math.PI / 180;
    }

    function distance(longa, longb, lata, latb) {
      return 6371000 * Math.acos(Math.cos(lata) * Math.cos(latb) * Math.cos(longa - longb) + Math.sin(lata) * Math.sin(latb));
    }

    function roundDecimal(nombre, precision) {
      var precision = precision || 2;
      var tmp = Math.pow(10, precision);
      return Math.round(nombre * tmp) / tmp;
    }

    initialize();

    $("#sign_in").click(function() {
      $('#container1').show("slow");
      $('#connection').hide("slow");
      $(this).fadeOut('slow');
      $('#sign_up').show("slow");
      $('#container2').hide("slow");
    });

    $("#sign_up").click(function() {
      $('#container1').hide("slow");
      $('#connection').show("slow");
      $(this).fadeOut("slow");
      $('#sign_in').show("slow");
      $('#container2').show("slow");
    });

    $("#submit_inscription").click(function() {
      var login = $("#login").val();
      var password = $("#password").val();
      var email = $("#email").val();
      var nom = $("#nom").val();
      var prenom = $("#prenom").val();
      socket.emit('inscription', {login: login, password: password, email: email, nom: nom, prenom: prenom, pop : 0});
    });

    function removeOverlay() {
      var i = 0;
      while(all_overlay[i])
      {
        all_overlay[i].setMap(null);
        i++;
      }
    }

    $("#submit_recherche").click(function(){
      var age = $("#ex2").attr('data-value').split(",");
      var pop = $("#ex3").attr('data-value').split(",");
      var distance = $("#distance").val();
      var tags = $("#all_tag").html().split("<div class=\"tag suppr_tag\">");
      tags = tags.join();
      tags = tags.split("<div class=\"cross\">x</div></div>");
      tags.pop();
      var i = 0;
      while(tags[i])
      {
        tags[i] = tags[i].replace(',','');
        i++;
      }
      removeOverlay();
      get_data(position_save, age[0], age[1], pop[0], pop[1], distance, tags);
    });


    $("#forgot_password").click(function(){
      var email = $("#email_forgot").val();
      $.ajax({
        method: "POST",
        url: "forgot_password",
        data: {email: email}
      })
        .done(function (msg){
          if (msg == 'done')
          {
            $('#inscription_ok').html('Vous recevrez un e-mail dans les prochaines minutes');
            $('#inscription_ok').show("slow").delay(4000).hide('slow');
          }
          else
          {
            $('#message_erreur').html('Something went wrong');
            $('#message_erreur').show("slow").delay(4000).hide('slow');
          }
        });
    });
    $("#submit_connection").click(function() {
      var login = $("#login_in").val();
      var password = $("#password_in").val();
    $.ajax({
            method: "POST",
            url: "login",
            data: {login: login, password: password}
          })
          .done(function (msg) {
            if (msg == 'Mauvais login / Mot de passe') {
              $('#connection_erreur').html(msg);
              $('#connection_erreur').show("slow").delay(4000).hide('slow');
            }
            else {
              if (typeof(overlay) != 'undefined')
                removeOverlay();
              get_data(position_save);
              $.ajax({
                method: "POST",
                url: "save_position",
                data: {latitude: position_save.coords.latitude, longitude: position_save.coords.longitude}
              })
                .done(function (msg) {
                });

              $('#recherche_block').css('display', 'block');
              $('#sign_in').hide("slow");
              $('#sign_up').hide("slow");
              $('#connection').hide("slow");
              $('#login_value').html("Bonjour " + msg);
              $('#submit_deconnection').fadeIn("slow");
              $('#profile').show('fast');
              $('#visites').show('fast');
              $('#match').show('fast');
              $('#chat').show('fast');
              socket.emit('login', msg);
            }
          });
    });

    function get_data(position, age_min, age_max, pop_min, pop_max, distance_max, tags) {
      $.ajax({
        method: "POST",
        url: "get_profile_data"
      })
        .done(function (msg) {
          var i = 0;

          while (msg.doc[i]) {
            if (msg.doc[i].date)
              age = dateDiff(msg.doc[i].date, date_today());
            else
              age = 0;
            var distance = ConvertDistance(distance_with2point(msg.doc[i].longitude, msg.doc[i].latitude, position.coords.longitude, position.coords.latitude));
            var myLatlng = new google.maps.LatLng(msg.doc[i].latitude, msg.doc[i].longitude);

            if (age_min && age_max && pop_min && pop_max) {
              if ((age >= age_min && age <= age_max) && ((msg.doc[i].pop >= pop_min && msg.doc[i].pop <= pop_max) || !msg.doc[i].pop) && (distance < distance_max || !distance_max) && msg.me[0].bloquer.indexOf(msg.doc[i].login) === -1) {
                var find = 1;
                var j = 0;
                while (tags[j]) {
                  find = 0;
                  var k = 0;
                  if (msg.doc[i].tag) {
                    while (msg.doc[i].tag[k]) {
                      if (msg.doc[i].tag[k] == tags[j]) {
                        find = 1;
                        break;
                      }
                      k++;
                    }
                  }
                  j++;
                  if (find == 0)
                    break;
                }
                if (distance < 1) {
                  distance *= 1000;
                  distance += 'm';
                }
                else
                  distance += 'Km';
                if (find != 0) {
                  overlay = new CustomMarker(
                          myLatlng,
                          map,
                          {
                            marker_id: i
                          },
                          msg.doc[i].profile,
                          "<strong>" + msg.doc[i].prenom + "</strong> - " + age + " ans</br>" + distance + "</br>" + msg.doc[i].description, // message dans l'infowindows
                          msg.doc[i].login,
                          msg.doc[i].sexe
                  );
                }
              }
            }
            else {
              if (distance < 1) {
                distance *= 1000;
                distance += 'm';
              }
              else
                distance += 'Km';
              if (msg.me[0].bloquer) {
                if (msg.me[0].bloquer.indexOf(msg.doc[i].login) === -1) {
                  overlay = new CustomMarker(
                          myLatlng,
                          map,
                          {
                            marker_id: i
                          },
                          msg.doc[i].profile,
                          "<strong>" + msg.doc[i].prenom + "</strong> - " + age + " ans</br>" + distance + "</br>" + msg.doc[i].description, // message dans l'infowindows
                          msg.doc[i].login,
                          msg.doc[i].sexe
                  );
                }
              }
              else
              {
                overlay = new CustomMarker(
                        myLatlng,
                        map,
                        {
                          marker_id: i
                        },
                        msg.doc[i].profile,
                        "<strong>" + msg.doc[i].prenom + "</strong> - " + age + " ans</br>" + distance + "</br>" + msg.doc[i].description, // message dans l'infowindows
                        msg.doc[i].login,
                        msg.doc[i].sexe
                );
              }
            }
            all_overlay.push(overlay);
            i++;
          }
        });
    }

    socket.on('inscription', function(data) {
      var html = "Inscription effectué";
      $("#inscription_ok").html(html);
      $("#inscription_ok").show( "slow" ).delay(4000).hide('slow');
    });