extends layout

block content
  div(class="container" id="container1" style="display:none;margin-top:20px")
    div(class="col-lg-4")
    div(class="col-lg-4")
        div(class="form-group" id="inscription")
          input(type="text" class="form-control" id="nom" placeholder="nom")
          br
          input(type="text" class="form-control" id="prenom" placeholder="prenom")
          br
          input(type="text" class="form-control" id="login" placeholder="login")
          br
          input(type="password" class="form-control" id="password" placeholder="password")
          br
          input(type="text" class="form-control" id="email" placeholder="email")
          br
          button(type="submit" class="btn btn-default" id="submit_inscription" style="width:100%;") Inscription
          br
          div(class="alert alert-success" role="alert" id="inscription_ok" style="display:none;margin-top:20px;")
    div(class="col-lg-4")
  div(class="row" id="container2" style="height:60%;min-height:400px")
    div(class="col-lg-12" style="height:100%;")
      div(id="map_canvas")

  p TODO Affiné la recherche
    // pouvoir affiner la recherche
    // div(class="row")
      div(class="col-lg-4")
      div(class="col-lg-4")

block scripts
  script(type="text/javascript").
    function CustomMarker(latlng, map, args, img, text, login, sexe) {
      this.latlng = latlng;
      this.args = args;
      this.img = img;
      this.text = text;
      this.login = login;
      this.sexe = sexe;
      this.setMap(map);
    }

    CustomMarker.prototype = new google.maps.OverlayView();

    CustomMarker.prototype.draw = function () {

      var self = this;

      var div = this.div;

      if (!div) {

        div = this.div = document.createElement('div');
        infowindow = document.createElement('div');
        div.className = 'marker';

        div.style.position = 'absolute';
        div.style.cursor = 'pointer';
        div.style.width = '100px';
        div.style.height = '100px';
        div.style.background = 'white';
        if (this.sexe == "H")
          div.style.border = '2px solid #5048c7';
        else if (this.sexe == "F")
          div.style.border = '2px solid #ef29d6';
        div.innerHTML = "<img src='" + this.img + "' width='96' height='96' alt='photo de profil'>";

        if (typeof(self.args.marker_id) !== 'undefined') {
          div.dataset.marker_id = self.args.marker_id;
        }

        google.maps.event.addDomListener(div, "mouseover", function (event) {
          infowindow.style.display = '';
          infowindow.className = 'infowindow';
          infowindow.style.position = 'absolute';
          infowindow.style.width = 'auto';
          infowindow.style.maxWidth = '300px';
          infowindow.style.height = 'auto';
          infowindow.style.padding = '10px';
          infowindow.style.background = 'white';
          infowindow.innerHTML = self.text;
        });

        google.maps.event.addDomListener(div, "click", function (event) {
          document.location.href = 'http://localhost:3000/' + self.login;
        });

        google.maps.event.addDomListener(div, "mouseout", function (event) {
          infowindow.style.display = 'none';
        });

        var panes = this.getPanes();
        panes.overlayImage.appendChild(div);
        panes.overlayImage.appendChild(infowindow);
      }

      var point = this.getProjection().fromLatLngToDivPixel(this.latlng);

      if (point) {
        div.style.left = (point.x - 50) + 'px';
        div.style.top = (point.y - 100) + 'px';
        infowindow.style.left = (point.x - (-50)) + 'px';
        infowindow.style.top = (point.y - 100) + 'px';
      }
    };

    CustomMarker.prototype.remove = function () {
      if (this.div) {
        this.div.parentNode.removeChild(this.div);
        this.div = null;
      }
    };

    CustomMarker.prototype.getPosition = function () {
      return this.latlng;
    };

  script(type = "text/javascript").
    function initialize() {
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        zoom: 15,
        center: new google.maps.LatLng(48.858565, 2.347198),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
    }

    if (navigator.geolocation)
      var watchId = navigator.geolocation.watchPosition(successCallback,
              null,
              {enableHighAccuracy: true});
    else
      alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");


    function successCallback(position) {
      // permet de se place là ou on se trouve
      var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map.panTo(myLatlng);
      $.ajax({
        method: "POST",
        url: "save_position",
        data: {latitude: position.coords.latitude, longitude: position.coords.longitude}
      });
      $.ajax({
                method: "POST",
                url: "get_profile_data"
              })
              .done(function (msg) {
                var i = 0;

                while (msg[i]) {
                  if (msg[i].date)
                    age = dateDiff(msg[i].date, date_today());
                  else
                    age = 0;
                  var distance = ConvertDistance(distance_with2point(msg[i].longitude, msg[i].latitude, position.coords.longitude, position.coords.latitude));
                  var myLatlng = new google.maps.LatLng(msg[i].latitude, msg[i].longitude);
                  overlay = new CustomMarker(
                          myLatlng,
                          map,
                          {
                            marker_id: i
                          },
                          msg[i].profile,
                          "<strong>" + msg[i].prenom + "</strong> - " + age + " ans</br>" + distance + "</br>" + msg[i].description, // message dans l'infowindows
                          msg[i].login,
                          msg[i].sexe
                  );
                  i++;
                }
              });
    }

    function date_today() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();

      if (dd < 10) {
        dd = '0' + dd
      }
      if (mm < 10) {
        mm = '0' + mm
      }
      today = yyyy + '/' + mm + '/' + dd;
      return today;
    }

    function dateDiff(date1, date2) {
      var year = date2.substr(0, 4) - date1.substr(0, 4);
      var month = date2.substr(5, 2) - date1.substr(5, 2);
      if (month < 0)
        year--;
      else if (month == 0) {
        var day = date2.substr(8, 2) - date1.substr(8, 2);
        if (day < 0)
          year--;
        else if (day == 0)
          console.log("C'est votre anniversaire !"); // faire quelque chose de spéciale dans ce cas.
      }
      return year;
    }

    function ConvertDistance(d) {
      var result;
      if (d < 1000) {
        result = d + ' m';
      }
      else {
        d = d / 1000;
        d = roundDecimal(d, 2);
        result = d + ' Km'
      }
      return result;
    }

    function distance_with2point(position_a_longitude, position_a_latitude, position_b_longitude, position_b_latitude) {
      var distance_m = roundDecimal(distance(degree_to_radians(position_a_longitude), degree_to_radians(position_b_longitude), degree_to_radians(position_a_latitude), degree_to_radians(position_b_latitude)));
      return distance_m;
    }

    function degree_to_radians(degrees) {
      return degrees * Math.PI / 180;
    }

    function distance(longa, longb, lata, latb) {
      return 6371000 * Math.acos(Math.cos(lata) * Math.cos(latb) * Math.cos(longa - longb) + Math.sin(lata) * Math.sin(latb));
    }

    function roundDecimal(nombre, precision) {
      var precision = precision || 2;
      var tmp = Math.pow(10, precision);
      return Math.round(nombre * tmp) / tmp;
    }

    initialize();

  script(type="text/javascript").
    $("#sign_in").click(function() {
      $('#container1').show("slow");
      $('#connection').hide("slow");
      $(this).fadeOut('slow');
      $('#sign_up').show("slow");
      $('#container2').hide("slow");
    });

    $("#sign_up").click(function() {
      $('#container1').hide("slow");
      $('#connection').show("slow");
      $(this).fadeOut("slow");
      $('#sign_in').show("slow");
      $('#container2').show("slow");
    });

    $("#submit_inscription").click(function() {
      var login = $("#login").val();
      var password = $("#password").val();
      var email = $("#email").val();
      var nom = $("#nom").val();
      var prenom = $("#prenom").val();
      socket.emit('inscription', {login: login, password: password, email: email, nom: nom, prenom: prenom});
    });

    function removeOverlay() {
      console.log('ho');
      overlay.setMap(null);
    }

    $("#submit_connection").click(function() {
      var login = $("#login_in").val();
      var password = $("#password_in").val();
      $.ajax({
                method: "POST",
                url: "login",
                data: {login: login, password: password}
              })
              .done(function (msg) {
                if (msg == 'Mauvais login / Mot de passe') {
                  $('#connection_erreur').html(msg);
                  $('#connection_erreur').show("slow").delay(4000).hide('slow');
                }
                else {
                  console.log('hi');
                  if (typeof(overlay) != 'undefined')
                    removeOverlay();
                  if (navigator.geolocation)
                    var watchId = navigator.geolocation.watchPosition(save_position,
                            null,
                            {enableHighAccuracy: true});
                  else
                    alert("Votre navigateur ne prend pas en compte la géolocalisation HTML5");
                  console.log('hey');
                  $('#sign_in').hide("slow");
                  $('#sign_up').hide("slow");
                  $('#connection').hide("slow");
                  $('#login_value').html("Bonjour " + msg);
                  $('#submit_deconnection').fadeIn("slow");
                  $('#profile').show('fast');
                  socket.emit('login', msg);
                }
              });
    });

    function save_position(position) {
      $.ajax({
        method: "POST",
        url: "save_position",
        data: {latitude: position.coords.latitude, longitude: position.coords.longitude}
      });
      $.ajax({
                method: "POST",
                url: "get_profile_data"
              })
              .done(function (msg) {
                var i = 0;

                while (msg[i]) {
                  if (msg[i].date)
                    age = dateDiff(msg[i].date, date_today());
                  else
                    age = 0;
                  var distance = ConvertDistance(distance_with2point(msg[i].longitude, msg[i].latitude, position.coords.longitude, position.coords.latitude));
                  var myLatlng = new google.maps.LatLng(msg[i].latitude, msg[i].longitude);
                  overlay = new CustomMarker(
                          myLatlng,
                          map,
                          {
                            marker_id: i
                          },
                          msg[i].profile,
                          "<strong>" + msg[i].prenom + "</strong> - " + age + " ans</br>" + distance + "</br>" + msg[i].description // message dans l'infowindows
                  );
                  i++;
                }
              });
    }

    socket.on('inscription', function(data) {
      var html = "";
      html += "Inscription effectué";
      html += "";
    $("#inscription_ok").html(html);
    $("#inscription_ok").show( "slow" ).delay(4000).hide('slow');
    });