extends layout

block content
    div(class="container" style="margin-top:20px")
        div(class="row")
            p // pages des match
            //if visiteur
                each val in visiteur
                    div
                        p
block scripts
