extends layout

block content
    div(class="container" style="margin-top:20px;height:100%;")
        div(class="row" style="height:100%;")
            div(class="col-lg-12" style="height:100%;")
                if chat
                    div(class="conversation")
                        each val in chat
                            div(class="bloc")
                                if val.username == val.moi
                                    div(class="text right" style="float:right") #{val.message}
                                else
                                    div(class="text left" style="float:left") #{val.message}
                    div(class="message form-group")
                        input(type="text" style="width:90%;float:left" class="form-control" placeholder="Message" id="message")
                        button(type="button" style="width:10%" class="btn btn-default def_button" id="envoyez") Envoyez
                else
                    div(class="conversation")
                    div(class="message form-group")
                        input(type="text" style="width:90%;float:left" class="form-control" placeholder="Message" id="message")
                        button(type="button" style="width:10%" class="btn btn-default def_button" id="envoyez") Envoyez
block scripts
    script(type="text/javascript").
        var conv = $(".conversation");
        conv.scrollTop(conv[0].scrollHeight);
        $("#envoyez").click(function(){
            var message = $("#message").val();
            $("#message").val('');
            var CheminComplet = document.location.href;
            var Login = CheminComplet.substring(CheminComplet.lastIndexOf("/") + 1);
            $.ajax({
                method: "POST",
                url: "/add_message",
                data : {message : message, username : Login}
            })
                .done(function (msg) {
                    if (msg == 'done')
                    {
                        var conversation = $(".conversation").html();
                        conversation += "<div class='bloc'><div class='text right' style='float:right'>" + message + "</div></div>";
                        $(".conversation").html(conversation);
                        socket.emit('message', {message: message, login: Login});
                    }
                });
        });