extends layout

block content
    div(class="container" style="margin-top:20px")
        div(class="row")
            p // pages des visiteurs
            if visiteur
                each val in visiteur
                    a(href="/"+val.login+"")
                        div(style="height:270px;width:210px;padding:5px;background-color:#ccc")
                            img(src="../"+val.photo width="200" height="200" class="images" style="padding:10px;")
                            p(style="padding:5px;")= val.login +" à visiter votre profile le "+ val.date.substr(0,10) + " à "+ val.date.substr(11,8)
block scripts
